# yaml template to dockerise a node.js app
version: '3'
services: 
    appservice: 
        container_name: mynodeapp
        image: aurioldegbelo/myfotoapp
        ports: 
            - '5000:3000'
        depends_on: 
            - mongoservice
    mongoservice:
        container_name: mongo
        image: mongo
        ports:
            - '27017:27017'
    mongoexpressservice: 
        image: mongo-express
        ports: 
            - '8081:8081'
 