extends 0_layout

block content
  h3 Welcome to the #{title}
  br
  br
  .input-group.mb-3
      button.btn.btn-outline-secondary(type='button') Search
      .col-xs-2
       input#pictures.form-control(type='search' placeholder='POI Name' aria-label='search')

  .container-fluid
  .row
    // add an information card from bootstrap
    #information.card(style='width: 25rem;')
      .card-body
        h5.card-title Card title
        h6.card-subtitle.mb-2.text-muted Card subtitle
        p.card-text
          | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
        a.card-link(href='#') Card link
    .container.col-sm-6
      // Div to show the map
      #myfirstmap
  script.
    let geojson = !{JSON.stringify(data)}
    //console.log(geojson)
  block scripts
    script(src='/javascripts/searchUtilities.js', defer)